
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    #login{
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    <h1>Login</h1>
    <form action="/login" id="login" method="post">
        <label type="text" for="text">Login:</label>
        <input type="text" name="text" id="text" placeholder="Digite seu usuario ou seu email ...">

        <label type="password" for="password">Senha:</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha ..."> 
    </form>
    <div id="button" >
        <button type="submit">Enviar</button>
    </div>
    <div class="recuperar">
        <a href="#">Recuperar senha</a>
    </div>
</body>
</html>
